<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body style="color:blue; background-image: url('https://48f0253a-6437-42d3-bfaa-76195946b789-00-1f4d5vovoz0ee.sisko.replit.dev/static/Background.jpeg'); height:100%; width:100%; background-repeat: no-repeat; background-size: cover;">
    <center><h1>Godx Gaming Club</h1></center>
    <img src="https://48f0253a-6437-42d3-bfaa-76195946b789-00-1f4d5vovoz0ee.sisko.replit.dev/static/Logo.jpeg">
    <h2>I ready to start Flack Web Development. Let's see whathappens</h2>
  </body>
</html>